/*
    dark: #2C3531
    DARKGREEN: #116466
    "DARKBROWN": #D9B08C
    LIGHTBROWN: #FFCB9A
    LIGHTGREEN: #D1E8E2


*/

body{
    background: radial-gradient(ellipse at 50% 50%, #116466 0%, #2c3531 86.27%);
    width:100%;
    height:100vh;
}
@font-face{
    font-family: Alphacentauri;
    src: url(Alphacentauri.ttf);
}
@font-face{
    font-family: JosefinSans;
    src: url(JosefinSans.ttf);
}
@font-face{
    font-family: AbrilFatface;
    src: url(AbrilFatface.ttf);
}
h1{
    font-family:Alphacentauri;
    font-size:45px;
}
input{
    background-color:#D1E8E2 !important;
}
label,h1{
    color:#D1E8E2
}


form{
    padding-top:20px;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.form-control:focus {
    border-color: slategray;
    box-shadow: inset 0 1px 1px slategray, 0 0 8px slategray;
}
.formSubmit{
    width:150px;
    margin:auto;
    border:0;
    box-shadow:0px 0px 1px black;
    background-color:#D1E8E2;
   
}
#wrapper{
    height:100%;
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items:center;
}
.nav-link{
    color:#D1E8E2;
}
.nav-link.active{
    background-color:#2C3531 !important;
    color:#D1E8E2 !important;
}
.nav-link:hover{
    color:#D1E8E2 !important;
}
#nav-tab{
    display:flex;
    justify-content: center;
    border-bottom:1px solid #D1E8E2;
}
.col-form-label{
    text-align:end;
}
#tabWrapper{

    min-width:400px;
    min-height:400px;
}
.indexInput{
    max-width:70%;
}
a,label,button,input{
    font-family:JosefinSans;
}