<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>Winkedin</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <!--<link rel="stylesheet" type="text/css" href="../static/css/login.css" th:href="@{/css/login.css}" />-->
        <link href="../static/main.css" th:href="@{/main.css}" rel="stylesheet" />
    </head>
    <body>
        <div id="wrapper">
            <h1>Winkedin</h1>
            <div id="tabWrapper">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Login</a>
                        <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Register</a>

                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                            <!--<form action="#" th:action="@{/login}" method="post">-->
                            <form name="f" th:action="@{/login}" method="POST">    
                                <div class="form-group row">
                                    <label for="inputEmail" class="col-sm-4 col-form-label">Username</label>
                                    <div class="col-sm-8">
                                        <input name="username" type="text" class="form-control indexInput" id="inputEmail">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-4 col-form-label">Password</label>
                                    <div class="col-sm-8">
                                        <input name="password" type="password" class="form-control indexInput" id="inputPassword">
                                    </div>
                                </div>
                                <Input class="formSubmit" type="submit" value="Login">
                            </form>

                    </div>


                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <form name="fo" th:action="@{/register}" method="POST">    
                            <div class="form-group row">
                                <label for="inputfirstName" class="col-sm-4 col-form-label">First name</label>
                                <div class="col-sm-8">
                                    <input name="firstName" type="text" class="form-control indexInput" id="inputfirstName">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputlastName" class="col-sm-4 col-form-label">Last name</label>
                                <div class="col-sm-8">
                                    <input name="lastName" type="text" class="form-control indexInput" id="inputlastName">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputUrl" class="col-sm-4 col-form-label">Url tag</label>
                                <div class="col-sm-8">
                                    <input name="userUrl" type="text" class="form-control indexInput" id="inputUrl">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputusername" class="col-sm-4 col-form-label">Username</label>
                                <div class="col-sm-8">
                                    <input name="username" type="text" class="form-control indexInput" id="inputusername">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword2" class="col-sm-4 col-form-label">Password</label>
                                <div class="col-sm-8">
                                    <input name="password" type="password" class="form-control indexInput" id="inputPassword2">
                                </div>
                            </div>
                            <Button class="formSubmit" id="formButton" type="button" onclick="sendForm()">Register</Button>
                            <p id="errorText"></p>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </body>

<script>
    sendForm = async() => {
        let data = {
                firstName: document.getElementById("inputfirstName").value,
                lastName: document.getElementById("inputlastName").value,
                userUrl: document.getElementById("inputUrl").value,
                username: document.getElementById("inputusername").value,
                password: document.getElementById("inputPassword2").value
            }

        if(data.firstName.length == 0 || data.lastName.length == 0 || data.userUrl.length == 0
          || data.username.length < 3 || data.username.length > 15 || data.password.length > 15 || data.password.length < 5) {
            document.getElementById("errorText").innerHTML = "Invalid inputs";
            
        } else {
            const formBody = Object.keys(data).map(key => encodeURIComponent(key) + '=' + encodeURIComponent(data[key])).join('&');
            try {
                let response = await fetch("/register", {
                    method: "POST",
                    mode:'cors',
                    credentials: 'same-origin',
                    headers:{
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    referrerPolicy: 'no-referrer',
                    redirect:"follow",
                    body: formBody
                });
                if (response.redirected) {
                    window.location.href = response.url;
                } else {
                    document.getElementById("errorText").innerHTML = "Username or Url tag already taken";
                }
                
            } catch (error) {
                console.log(error);
            }
       
        //response = await response.json();
        //console.log(response);
        }

        
    }

</script>

</html>
