<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Winkedin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link href="../static/profile.css" th:href="@{/profile.css}" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">

        <div id="header" class="d-flex flex-row justify-content-between pt-2">
            <div id="logoText">
                <h1 class="pl-5">Winkedin</h1>
            </div>
            
        
            <div id="nameAndPicture">
                
                <span th:text="${person.getFirstName() + ' ' + person.getLastName()}" class="p-1"></span> 
            </div>
            <div id="links">
                <a href="/profile">Your Profile</a>
                <a onclick="launchModal()" href="javascript:;" id="searchPeople">Search people</a>
                <a th:href="@{/logout}">Logout</a>
            </div>
        </div>
        

        <div id="contentWrapper" class="pt-1">
            <div id="leftSide">
                <img th:if="${person.getPicture().getFileName()} == null" src="https://www.publicdomainpictures.net/pictures/280000/velka/not-found-image-15383864787lu.jpg" />
                <img th:unless="${person.getPicture().getFileName()} == null" th:src="@{${'/pictures/' + person.userUrl + '/'}}" />
                <div id="skills" class="contentWindow">
                    <h5 class="text-center">Your current skills:</h5>
                    <ul>
                        <li th:each="skill : ${skills}" class='skillRow'>
                            <span th:text="${skill.getSkillName()}" class="skillElement"></span>
                            <span>-</span>
                            <span th:text="${#lists.size(skill.getPeopleWhoLiked())} + ' Winks'" class="skillElement">[Engine Size]</span>
                        </li>
                    </ul>
                    <form id="skillForm" th:action="@{${'/users/' + person.userUrl + '/addskill'}}" method="POST">
                        <input type="text" name="skillText" />
                        <input id="submitButton" type="submit" value="Add new Skill" />
                    </form>
                </div>
                <div id="incomingFriendRequest" class="contentWindow">
                    <h5 class="text-center">Friend Requests</h5>
                    <div>
                        <div th:each="friendRequest : ${friendRequests}" class='d-flex flex-column justify-content-center pt-3'>
                            
                            <span th:text="${friendRequest.getPersonWhoSentFriendRequest().getFirstName()}" class="text-center"></span>
                            <div class="d-flex flex-row justify-content-center">
                                <button class="m-2" th:onclick="@{${'acceptAsFriend(' + friendRequest.getId() + ')'}}">Accept</button>
                                <button class="m-2" onclick="declineAsFriend()">Decline</button>
                                <!-- "</a><button onclick='addAsFriend(\"" + person.userUrl + "\")'>Connect</button></div>"-->
                            </div>
                            <!--<span th:text="${#lists.size(skill.getPeopleWhoLiked())} + ' Winks'" class="skillElement">[Engine Size]</span>-->
                        </div>
                    </div>
                </div>
                <div id="Friends" class="contentWindow">
                    <h5 class="text-center">Friends</h5>
                    <div th:each="friend : ${friends}" class='d-flex flex-column justify-content-center pt-3'>
                        
                        <span th:text="${friend.getFirstName()}" class="text-center"></span>
                        <button class="w-50 mx-auto" th:onclick="@{${'removeFriend(' + friend.getId() + ')'}}">Remove friend</button>
                        
                    </div>

                    <!--<img th:if="${person.getPicture().getFileName()} == null" src="https://www.publicdomainpictures.net/pictures/280000/velka/not-found-image-15383864787lu.jpg" />
                        <img th:unless="${person.getPicture().getFileName()} == null" th:src="@{${'/pictures/' + person.userUrl + '/'}}" />-->
                </div>
            </div>
                <div id="rightSide" class="mt-2">
                    <div id="newPost" class="contentWindow">
                        <h5 class="text-center ">Add a New post</h5>
                        <form th:action="@{${'/users/' + person.userUrl + '/addPost'}}" method="POST" class="d-flex flex-column">
                            <textarea placeholder="Write your post here" rows="4" cols="40" name="postContent" class="m-2"></textarea>
                            
                            <!--<input type="text" name="postContent" />-->
                            <input type="submit" value="Add new Post" class="w-25 mx-auto m-2"/>
                        </form>
                        


                    </div>

                    <div id="posts" class="contentWindow">
                        <h5 class="text-center">Posts:</h5>
                        <div th:each="post : ${posts}">
                            <hr class="w-75"/>
                            <div>
                                <p th:text="${post.content}" class="mx-5"></p>
                                <div class="d-flex flex-row justify-content-end mr-3 mb-3">

                                    <Button class="mr-5" th:onclick="@{${'openCommentModal(' + post.getId() + ')'}}">Comment</Button>
                                    <!--<input class="pr-5 mr-5" id="commentInput" type="text" placeholder="Add comment" />
                                    <Button class="mr-5" th:onclick="@{${'addComment(' + post.getId() + ')'}}">Send</Button>-->
                                    <span th:text="${post.poster.firstName + ' ' + post.poster.lastName}"></span>
                                    <span th:text="${post.postTime}" class="ml-3 font-weight-light"></span>
                                    
                                </div>
                                <!--th:if="${person.getPicture().getFileName()} == null"-->
                                <div th:if="${post.getPostComments().size()} > 0">
                                    <h5 class="ml-3">Comments:</h5>
                                    <div th:each="comment : ${post.getPostComments()}" class='d-flex flex-column justify-content-center pt-3'>
                        
                                        <span th:text="${comment.getMessage()}" class="text-left ml-5"></span>
                                        <!--<button class="w-50 mx-auto" th:onclick="@{${'removeFriend(' + friend.getId() + ')'}}">Remove friend</button>-->
                                        
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                
        </div>    
    </div>
    <!--<button type="button" onclick="launchModal()" id="modalButton" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
      </button>-->
      
    <!-- Search persons modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Search people:</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body d-flex flex-column" id="modalText">
              Loading...
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add your comment</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body d-flex flex-column" id="modalText">
                <input id="commentInput" />
                <button class="w-25 mt-2" onclick="addComment()">Send</button>
            </div>
          </div>
        </div>
    </div>
    <!--
    <span th:text="${person.getPicture().getFileName()}">testi</span>->>
    
    
    <form id="form" th:action="@{/addPicture}" method="POST" enctype="multipart/form-data">
        <img th:src="@{${'/pictures/' + person.userUrl + '/'}}" />
        <input type="text" th:value="${person.userUrl}" name="userUrl" class="d-none" />
        <input type="file" id="files" name="file" onchange="form.submit()" class="d-none"/>
        <Button id="kuvavaihto">Nappi</Button>
    </form>
    
    <form th:action="@{${'/users/' + person.userUrl + '/addskill'}}" method="POST">
        <input type="text" name="skillText" />
        <input type="submit" value="Add new Skill" />
    </form>

    <div>
        <h2>Skills</h2>
        <ul>
           <li th:each="skill : ${skills}">
               <span th:text="${skill.getSkillName()}">testi</span>
               <form th:action="@{${'/users/' + person.userUrl + '/likeskill'}}" method="POST">
                   <input type="text" th:value="${person.getUserUrl()}" name="userUrl" class="d-none" />
                   <input type="text" th:value="${skill.getId()}" name="skillId" class="d-none" />
                   <input type="text" th:value="${skill.person}" name="skillOwner" class="d-none" />--><!--
                   <input type="submit" value="tykkaa" />
               </form>
           </li>

        </ul>
    </div>
    <div>
        <h2>Create a Post</h2>
        <form th:action="@{${'/users/' + person.userUrl + '/addPost'}}" method="POST">
            <input type="text" name="postContent" />
            <input type="submit" value="Add new Post" />
        </form>
        
    </div>
    
    <div>
        <h2>Tykkäyksentestaus</h2>
        <form th:action="@{${'/users/' + person.userUrl + '/likepost'}}" method="POST">
                   <input type="text" th:value="${person.getUserUrl()}" name="userUrl" class="d-none" />
                   <input type="text" th:value="4" name="postId" class="d-none" />
                   <input type="text" th:value="${skill.person}" name="skillOwner" class="d-none" />--><!--
                   <input type="submit" value="tykkaaPostausta" />
               </form>
    </div>
    -->
</body>
<script>
    //document.getElementById('kuvavaihto').addEventListener('click', (event) => {
    //    event.preventDefault();
    //    document.getElementById('files').click();
    //})
    //document.getElementById("formButton").addEventListener("click", (event) => {
    //    event.preventDefault();
    //    sendForm();

    //})
    let idOfcomment;

    launchModal = async() => {
        $("#exampleModal").modal('show');
        let data = await fetch("/allpersons");
        data = await data.json();
        console.log(data);
        data = data.map(person => "<div class='d-flex flex-row justify-content-center'><a class='p-2 w-50'href= /users/" + person.userUrl + ">" + person.firstName + " " + person.lastName + "</a><button onclick='addAsFriend(\"" + person.userUrl + "\")'>Connect</button></div>")
                   .join('');
        document.getElementById("modalText").innerHTML = data;
        
    }
    
    addAsFriend = async(userUrl) => {
        console.log(userUrl);
        let body = "userUrl=" + userUrl;
        let response = await fetch("api/addFriendRequest",{
            headers:{
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            method: "POST",
            body: body
        })
        if(response.ok){
            console.log("viesti meni perille");
        }

    }

    acceptAsFriend = async(id) => {
        console.log(id);
        let body = "id=" + id;
        let response = await fetch("api/acceptAsFriend",{
            headers:{
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            method: "POST",
            body: body
        })
        if (response.ok) {
            window.location.href = "/profile";
        }

    }

    removeFriend = async(id) => {
        let body = "id=" + id;
        let response = await fetch("/api/removeFriend",{
            headers:{
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            method: "POST",
            body: body
        })
        if (response.ok) {
            window.location.href = "/profile";
        }
    }

    openCommentModal = (postId) => {
        $("#commentModal").modal('show');
        idOfcomment = postId;
    }

    addComment = async() => {
        let body = "id=" + idOfcomment + "&content=" + document.getElementById("commentInput").value;
        
        let response = await fetch("/api/addMessageToPost",{
            headers:{
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            method: "POST",
            body: body
        })
        //if (response.ok) {
        //    window.location.href = "./";
        //}  window.location.reload()
    }
    //document.getElementById("searchPeople").onclick = launchModal();


</script>
</html>