<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" />
    <meta charset="UTF-8">
    <title>Winkedin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link href="../static/profile.css" th:href="@{/profile.css}" rel="stylesheet" />

</head>
<body>
    <div id="wrapper">

        <div id="header" class="d-flex flex-row justify-content-between pt-2">
            <div id="logoText">
                <h1 class="pl-5">Winkedin</h1>
            </div>
            
        
            <div id="nameAndPicture">
                <span th:text="${person.getFirstName() + ' ' + person.getLastName()}" class="p-1"></span> 
            </div>
            <div id="links">
                <a href="/profile">Your Profile</a>
                <a onclick="launchModal()" href="javascript:;" id="searchPeople">Search people</a>
                <a th:href="@{/logout}">Logout</a>
            </div>
        </div>
        

        <div id="contentWrapper" class="pt-1">
            <div id="leftSide">
                <form id="form" th:action="@{/addPicture}" method="POST" enctype="multipart/form-data" hidden>
                    <input type="text" th:value="${person.userUrl}" name="userUrl" hidden />
                    <input type="file" id="files" name="file" onchange="form.submit()" hidden/>
                    <Button id="kuvavaihto">Nappi</Button>
                </form>
                <div class="contentWindow mx-2 mt-2">
                    <a onclick="document.getElementById('files').click()" class="d-flex justify-content-center">
                        <img th:if="${person.getPicture().getFileName()} == null" src="../static/setpicture.png" th:src="@{/setpicture.png}" />
                    </a>
                    <a onclick="document.getElementById('files').click()" class="d-flex justify-content-center ">
                    <img th:unless="${person.getPicture().getFileName()} == null" th:src="@{${'/pictures/' + person.userUrl + '/'}}" />
                    </a>
                </div>
                <div id="skills" class="contentWindow mx-2">
                    <h5 class="text-center">Your skills:</h5>
                    <p th:if="${skills.size()} == 0" class="text-center">Add your first skill from below</p>
                    <div th:each="skill : ${skills}" class='d-flex flex-column mt-2 mb-2'>
                        <span th:text="${skill.getSkillName()}" class="text-center"></span>
                        <div class="d-flex flex-row justify-content-center">
                            <span th:text="${skill.getPeopleWhoLiked()} + ' Winks'" class="skillElement text-center"></span>
                        </div>
                    </div>
                    
                    <hr class="w-100"/>

                    <div th:if="${restOfSkills.size()} > 0" class="mt-1">
                        <div th:each="skill : ${restOfSkills}" class='d-flex flex-column mt-2 mb-2'>
                            <span th:text="${skill.getSkillName()}" class="text-center"></span>
                            <div class="d-flex flex-row justify-content-center">
                                <span th:text="${skill.getPeopleWhoLiked()} + ' Winks'" class="skillElement text-center"></span>
                            </div>
                        </div>
                    </div>

                    <form id="skillForm" th:action="@{${'/users/' + person.userUrl + '/addskill'}}" method="POST" class="mt-2">
                        <input type="text" name="skillText" />
                        <input id="submitButton" type="submit" value="Add new Skill" />
                    </form>
                </div>
                <div id="incomingFriendRequest" class="contentWindow mx-2">
                    <h5 class="text-center">Friend Requests</h5>
                    <p th:if="${friendRequests.size()} == 0" class="text-center">None currently!</p>
                    <div>
                        <div th:each="friendRequest : ${friendRequests}" class='d-flex flex-column justify-content-center pt-3'>
                            <a th:href="@{/users/{id}(id=${friendRequest.getPersonWhoSentFriendRequest().getUserUrl()})}" class="text-center">
                                <span th:text="${friendRequest.getPersonWhoSentFriendRequest().getFirstName() + ' ' + friendRequest.getPersonWhoSentFriendRequest().getLastName()}" class="text-center"></span>
                            </a>
                            <div class="d-flex flex-row justify-content-center">
                                <button class="m-2" th:onclick="@{${'acceptAsFriend(' + friendRequest.getId() + ')'}}">Accept</button>
                                <button class="m-2" onclick="declineAsFriend()">Decline</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Friends" class="contentWindow mx-2 mt-2">
                    <h5 class="text-center">Friends</h5>
                    <p th:if="${friends.size()} == 0" class="text-center">None added yet!</p>

                    <div th:each="friend : ${friends}" class='d-flex flex-column justify-content-center pt-3'>
                        
                        <a th:href="@{/users/{id}(id=${friend.getUserUrl()})}" class="text-center">
                            <span th:text="${friend.getFirstName() + ' ' + friend.getLastName()}" class="text-center"></span>
                        </a>
                        <button class="w-50 mx-auto my-1" th:onclick="@{${'removeFriend(' + friend.getId() + ')'}}">Remove friend</button>
                        
                    </div>
                </div>
            </div>
                <div id="rightSide" class="mt-2">
                    <div id="newPost" class="contentWindow">
                        <h5 class="text-center ">Add a New post</h5>
                        <form th:action="@{${'/users/' + person.userUrl + '/addPost'}}" method="POST" class="d-flex flex-column">
                            <textarea maxlength="250" placeholder="Write your post here" rows="4" cols="40" name="postContent" class="m-2"></textarea>
                            <input type="submit" value="Submit" class="w-25 mx-auto m-2"/>
                        </form>
                        


                    </div>

                    <div id="posts">
                        <h5 class="text-center contentWindow pb-1">Posts:</h5>
                        
                        <div th:if="${posts.getTotalElements()} == 0" class="contentWindow noPostsWindow d-flex flex-row">
                            <p class="text-center w-100">No posts yet</p>
                        </div>

                        <div th:each="post : ${posts}">

                            <div class="contentWindow mt-3">
                                <p th:text="${post.content}" class="mx-5 mt-4"></p>
                                <div class="d-flex flex-row justify-content-around mb-3">
                                    <span class="" th:text="${#lists.size(post.getPostLikes())} + ' Likes'"></span>
                                    <Button class="" th:onclick="@{${'openCommentModal(' + post.getId() + ')'}}">Comment</Button>
                                    <span th:text="${post.poster.firstName + ' ' + post.poster.lastName}"></span>
                                    <span th:text="${post.postTime}" class="ml-3 font-weight-light"></span>
                                </div>
    
                                <div th:if="${post.getPostComments().size()} > 0" class="pb-2">
                                    <h5 class="ml-3">Comments:</h5>
                                    <div th:each="comment : ${post.getPostComments()}" class='d-flex flex-column justify-content-center pt-3'>
                                        <span th:text="${comment.getMessage()}" class="text-left ml-5"></span>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                
        </div>    
    </div>
    
    <!-- Search persons modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Search people:</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div>
                <span class="pl-3"> Filter people:</span>
                <input type="text" id="filterText" />
                
            </div>
            <div class="modal-body d-flex flex-column" id="modalText">
              Loading...
            </div>
          </div>
        </div>
    </div>

    <!-- Add comment modal -->
    <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add your comment</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body d-flex flex-column" id="modalText">
                <input maxlength="100" id="commentInput" />
                <button class="w-25 mt-2" onclick="addComment()">Send</button>
            </div>
          </div>
        </div>
    </div>
    
</body>
<script src="../static/scripts.js" th:src="@{/scripts.js}"></script>
</html>