body{
    background: radial-gradient(ellipse at 50% 50%, #fff 0%, #9f9f9f 86.27%);
    width:100%;
    height:100vh;
}

#wrapper{
    height:100%;
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items:center;
}
.nav-link{
    color:black;
}
.nav-link.active{
    background-color:gray !important;
    color:white !important;
}
#tabWrapper{
    border:1px solid black;

}
