body{
    background: radial-gradient(ellipse at 50% 50%, #fff 0%, #9f9f9f 86.27%);
    width:100%;
    height:100vh;
}
form{
    padding-top:20px;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.form-control:focus {
    border-color: slategray;
    box-shadow: inset 0 1px 1px slategray, 0 0 8px slategray;
}
.formSubmit{
    width:150px;
    margin:auto;
}
#wrapper{
    height:100%;
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items:center;
}
.nav-link{
    color:black;
}
.nav-link.active{
    background-color:gray !important;
    color:white !important;
}
#nav-tab{
    display:flex;
    justify-content: center;
}
.col-form-label{
    text-align:end;
}
#tabWrapper{

    min-width:400px;
    min-height:400px;
}
.indexInput{
    max-width:70%;
}
